.player{
	display:none;
}

.messages-wrapper {
  padding-top: 10px;
  position: relative;
  border-top: 0 none;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 10px 20px;
    position: relative;
    font-size: 14px;
}

.screen{
	display: none;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    transform: rotateY(180deg);
}

.bar-footer-secondary {
	padding: 6px 5px;
  font-size: 12px;
  height: 57px;
}

.right{
	float:right;
}


*{
	font-family: 'Open Sans';
	font-weight: 300;
}

h1, h2 {
	font-weight: 300;
}

.bar-header-secondary{
	margin:0;
	padding:0;
	height: 96%;
}

video{
  margin-left: -51%;
  width: 179%;
}

.tesco {
	background:#4097F3;
	color:#FFF;
}

.tesco * {
	color:#FFF!important;
}

.tesco a {
	color:#FFF!important;
}


.no-margin{
	margin:0;
}

.min-margin{
	padding:0;
}

.bar{
	border-bottom: 0px solid #DDD;
}

.card{
  padding: 0;
    border: 1px solid #F2F2F2;
  border-radius: 3px;
  margin-bottom: 20px;
}

.shift-up{
	   margin-top: -30px;
}

.card-header{
  border-bottom:1px solid #F2F2F2;
  padding: 10px;
  margin-bottom: 13px;
}

.card-content{
 padding: 10px;
}
.font-blue{
	color:#2353A9;
}

.intro-block{
	padding:20px;
	text-align: center;
	padding-bottom: 45px;
}

.round-image{
	  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.intro-block h2{
	  margin-top: 13px;
}
h2, .h2 {
  font-size: 20px;
}

select{
	  padding: 10px;
}

.desktop{
height: 600px;
  width: 100%;
  border: 0;
}

.phone{
  height: 100%;
  width: 100%;
  border: 0;
}

.header-padding{
	padding-top:50px;
}


.info{
	margin-left: -15px;

}

.info .container-fluid{
	  margin-right: -15px;
}

.navbar-default{
	border:0;
	background: #FFF;
}

.customers{
background: #4097F3;

  color: #FFF;
  padding:40px;

}
.customers p {
	margin:0;
}

.customers h1, .customers h2 {
	margin-top: 0px;
}

.allergies {
	list-style: none;
	margin:0;
	padding:0;
}

.allergies li {
  float: left;
  margin-right: 5px;
  background: #9B59B6;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 13px;
  color: #FFF;
  margin-bottom: 10px;
}

.section {
	margin-top: 20px;
}

.tabs {
	  height: 41px;
}
.tabs ul{
	list-style: none;
	padding:0;
	margin:0;

}

.tabs ul li {
	background: #F4f4f4;
	float:left;
	width:33%;
	text-align: center;
	color:#767676;
	padding:10px;
	border-right:1px solid #D8D3D3;
	cursor:pointer;
}

.tabs ul li:hover, .tabs .active {
	background:#FFF;
}

.tabs ul li:last-of-type {
	border-right:0px solid #767676;
}


.no-right{
	padding-right:0;
}

.home .card-content{
	text-align: center;
}

.home .content-card p {
	  font-size: 18px;
  margin-top: 5px;
}

.home-image{

width: 134px;
  margin: auto;
  display: block;
}

.settings-bar{
	background:#F7F7F7;
	padding-bottom: 20px;
}

.settings-bar button{
	width: 23%;
  padding: 11px;
  background: #FFF;
  border:2px solid #40CAF3;
  color:#40CAF3;
}

.callforhelp{
	background: #2ECC71!important;
  color: #FFF!important;
   border:2px solid #2ECC71!important;
}

.price-bar{
  padding: 10px 20px!important;
  border-bottom: 1px solid #DFDFDF;
}

.list-item {
  padding: 10px;
  clear: both;
  border-bottom: 1px solid #f4f4f4;
  float: left;
  width: 100%;
  position: relative;
}

.list-item img {
	  width: 70px;
	  float:left;
}

.list-item h2 {
	  color:#4097F3;

}

.list-item h3 {
	font-size: 16px;

}


.list-item span{
	position: absolute;
  top: 23px;
  display: block;
  right: 5px;
  background: #40AFF3;
  padding: 10px 20px;
  border-radius: 4px;
  color:#FFF;
}

.bar-header-secondary{
	top:0;
}


.user-message{
	position: fixed;
  top: 10px;
  right: 10px;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.7;
  display: none;
}

.shopping-admin{
	width:90%;
	  height: 352px;
  overflow: scroll;
}

#sender{
  width: 82%;
  margin-left: 21px;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 5px;
}

.tab-content{
	display: none;
}


.one {
	display: block;
}

.loader{
	background: #F2F2F2;
  height: 100%;
  width: 102%;
  position: fixed;
  z-index: 99;
  padding: 30px;
  text-align: center;
  padding-top: 16%;
  display:none;

}

.admin .loader{
	display:block;
}

.loader img{
	display: inline-block;
	  width: 47px;
}

.loader h2{
	  display: inline-block;
  	  margin-left: 12px;
}


.red{
	cursor: pointer;
}

.three{
	padding:40px;
}

.three ul{
	list-style: none;
	  float: left;
  margin-right: 42px;
}


.card .table-view {
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}
.card .table-view .table-view-divider:first-child {
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card .table-view .table-view-divider:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card .table-view-cell:last-child {
  border-bottom: 0;
}

.table-view {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view-cell {
  position: relative;
  padding: 11px 65px 11px 15px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.table-view-cell:last-child {
  border-bottom: 0;
}
.table-view-cell > a:not(.btn) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -11px -65px -11px -15px;
  overflow: hidden;
  color: inherit;
}
.table-view-cell > a:not(.btn):active {
  background-color: #eee;
}
.table-view-cell p {
  margin-bottom: 0;
}

.table-view-divider {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  margin-left: 0;
  font-weight: 500;
  color: #999;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table-view .media,
.table-view .media-body {
  overflow: hidden;
}

.table-view .media-object.pull-left {
  margin-right: 10px;
}
.table-view .media-object.pull-right {
  margin-left: 10px;
}

.table-view-cell > .btn,
.table-view-cell > .badge,
.table-view-cell > .toggle,
.table-view-cell > a > .btn,
.table-view-cell > a > .badge,
.table-view-cell > a > .toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.table-view-cell .navigate-left > .btn,
.table-view-cell .navigate-left > .badge,
.table-view-cell .navigate-left > .toggle,
.table-view-cell .navigate-right > .btn,
.table-view-cell .navigate-right > .badge,
.table-view-cell .navigate-right > .toggle,
.table-view-cell .push-left > .btn,
.table-view-cell .push-left > .badge,
.table-view-cell .push-left > .toggle,
.table-view-cell .push-right > .btn,
.table-view-cell .push-right > .badge,
.table-view-cell .push-right > .toggle,
.table-view-cell > a .navigate-left > .btn,
.table-view-cell > a .navigate-left > .badge,
.table-view-cell > a .navigate-left > .toggle,
.table-view-cell > a .navigate-right > .btn,
.table-view-cell > a .navigate-right > .badge,
.table-view-cell > a .navigate-right > .toggle,
.table-view-cell > a .push-left > .btn,
.table-view-cell > a .push-left > .badge,
.table-view-cell > a .push-left > .toggle,
.table-view-cell > a .push-right > .btn,
.table-view-cell > a .push-right > .badge,
.table-view-cell > a .push-right > .toggle {
  right: 35px;
}

.content > .table-view:first-child {
  margin-top: 15px;
}

.toggle {
  position: relative;
  display: block;
  width: 74px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color, border;
     -moz-transition-property: background-color, border;
          transition-property: background-color, border;
}
.toggle .toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, border, width;
     -moz-transition-property:    -moz-transform, border, width;
          transition-property:         transform, border, width;
}
.toggle:before {
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 13px;
  color: #999;
  text-transform: uppercase;
  content: "Off";
}
.toggle.active {
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
}
.toggle.active .toggle-handle {
  border-color: #5cb85c;
  -webkit-transform: translate3d(44px, 0, 0);
      -ms-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  content: "On";
}
.toggle input[type="checkbox"] {
  display: none;
}

.profile-image img{
	width:30px;
	margin-right: 5px;
}
.one{
	  padding: 40px;
}
